.inline-block {
  display: inline-block;
}

.block {
  display: block,
}

.flex {
  display: flex;
}

.flex-none {
  flex: none,
}

.h-screen {
  height: 100vh,
}

.h-full {
  height: 100%;
}

.box-border {
  box-sizing: border-box;
}

.mr-2 {
  margin-right: 10px;
}

.invisible {
  visibility: hidden;
}

